.mobileMenu {
    display: flex;
    gap: 15px;
    opacity: 1;
    text-transform: uppercase;
    transition: .5s all ease;
}

.invisible {
    opacity: 0;
    transition: .3s all ease;
}

.hidden {
    display: none;
}

.menuItem {
    opacity: 0.7;
    width: fit-content;
    transition: 0.15s all ease;
}

.menuItem:hover {
    opacity: 1;
}

.menuItemActive {
    opacity: 1;
    width: fit-content;
}

@media screen and (max-width: 360px) {
    .mobileMenu {
        gap:10px;
        font-size: 1rem;
    }
}