.header {
    display: none;
    color: #fff;
    padding: 40px 0 0;
    background-color: var(--sidebar-blue-color);
}

@media screen and (max-width: 1199px) {
    .header {
        display: block;
    }
}
