.sidebarWrap {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 25%;
    color: var(--base-bg-color);
    text-align: left;
    padding: 40px;
    background-color: var(--sidebar-blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.menuItem {
    opacity: 0.7;
    width: fit-content;
    transition: 0.15s all ease;
}

.menuItem:hover {
    opacity: 1;
}

.menuItemActive {
    opacity: 1;
    width: fit-content;
    position: relative;
}

.menuItemActive:after {
    content: '>';
    position: absolute;
    right: -20px;
    top: -2px;
    transform: scale(0.5, 1.3);
}

@media screen and (max-width: 1199px) {
    .sidebarWrap {
        display: none;
    }
}
