.mainRole {
    line-height: 1.6em;
    white-space: pre-line;
}

.listItem {
    list-style: none;
    margin-bottom: 5px;
}

.listItem::before {
    display: inline-block;
    margin-right: 5px;
}

.extraRoles .listItem::before {
    content: '➤';
    color: var(--brown-color);
    transform: scale(0.4, 0.8);
}

.skills .listItem::before {
    content: '■';
    color: var(--brown-color);
    transform: scale(0.4) rotate(45deg);
}
