:root {
    --base-color: #222;
    --base-bg-color: #fffff5;
    --sidebar-orange-color: hsla(185, 70%, 20%, 0.8);
    --title-orange-color: hsl(25, 70%, 40%);
    --main-bg-color: #fffffcea;
    --main-home-bg-color: #fffff533;
    --ex-light-grey-color: hsl(50, 10%, 90%);
    --dark-grey-color: #265b63;

    --base-blue-color: #00758c;
    --profile-bg-color: #22879a;
    --menu-item-color: var(--base-bg-color);
    --menu-item-active-color: #99eeff;
    --light-grey-color: hsl(50, 10%, 75%);
    --light-semi-grey-color: #aaa;
    --semi-grey-color: #888;
    --ex-light-beige-color: #f5f5e9;
    --light-beige-color: #e0e0d1;
    --semi-light-beige-color: #ebebdb;
    --semi-beige-color: #d4d4c6;
    --brown-grey-color: #877059;
    --sand-color: #b99f58;
    --light-orange-color: #ffd580;
    --peach-color: #dc8b51;
    --semi-orange-color: #ffb042;
    --orange-color: #ee7700;
    --dark-orange-color: #d92400;
    --light-beige-border: 1px solid var(--light-beige-color);
    --semi-light-beige-border: 1px solid var(--semi-light-beige-color);
    --slider-button-bg: #80808066;
    --slider-button-bg-hover: #808080b3;
    --slider-button-text: #f5f5e9b3;
    --slider-button-border: 1px solid #ccccbe88;
    --slider-indicators-color: #808080;
    --green-color: #008c75;
    --upcoming: #c5ede4;
    --now: #fafab6;
    --completed: #d5f2cb;
    --user-cacelled: #e3e5e5;
    --admin-cancelled: #e5dcda;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root,
.container {
    width: 100%;
    height: 100%;
    background-image: url('./app/assets/images/bg.jpg');
    background-size: cover;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    color: var(--base-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea,
button,
input,
select {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.mainContainer {
    margin-left: 25%;
    width: 75%;
    background-color: var(--main-bg-color);
    padding: 40px 25% 40px 60px;
    min-height: 100%;
}

.mainTitle {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--dark-grey-color);
    margin-bottom: 50px;
}

.subTitle {
    font-size: 2rem;
    color: var(--title-orange-color);
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.no_wrap {
    white-space: nowrap;
}

.fw300 {
    font-weight: 300;
}
.fw400 {
    font-weight: 400;
}
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}
.fw700 {
    font-weight: 700;
}
